apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tequipy

resources:
- namespace.yaml
- configmap.yaml
- secret.yaml
- deployment.yaml
- service.yaml
- hpa.yaml
- pdb.yaml
- networkpolicy.yaml


images:
- name: tequipy/backend
  newName: tequipy/backend
  newTag: latest
labels:
- includeSelectors: true
  pairs:
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/version: 0.1.0
